li
    a(href='/dashboard')
        i.material-icons home
        span Trang chủ
li
    a(href='/cv/id=' + session.id)
        i.material-icons account_box
        span Sơ yếu lý lịch        
li
    a(href='/dang-ky-luu-tru')
        i.material-icons supervisor_account
        span Đăng kí lưu trú
